<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="google-site-verification" content="hyNh8403rnNPmnJEQRF0Uw5lToyTkpB45t7HRocf2PQ">
    <meta name"keywords"="" content="constitucion, argentina, nacion, republica, nacional, articulo, disposiciones, 1994, provincia, ciudad autonoma, buenos aires, catamarca, chaco, chubut, cordoba, corrientes, entre rios, formosa, jujuy, la pampa, la rioja, mendoza, misiones, neuquen, rio negro, salta, san juan, san luis, santa cruz, santa fe, santiago del estero, tiera del fuego antartida e islas del atlantico sur, tucuman">
    <meta name"description"="" content="Una versión interactiva de todas las constituciones de la República Argentina y sus provincias para leer, estudiar y compartir.">

    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic,300,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="alternate" href="http://www.constitucion.al" hreflang="es-ar">

    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
    <meta name="apple-mobile-web-app-title" content="Constitucion.al">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#4db9df">
    <meta name="msapplication-TileImage" content="/images/favicons/mstile-144x144.png">
    <meta name="application-name" content="Constitucion.al">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Constitucion.al" %></title>

    <script async="" src="//www.google-analytics.com/analytics.js"></script>

    <%= stylesheet_link_tag :site %>

    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/classie.js"></script>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %> <%= current_page.data.extra_class %>">
    <%= yield %>

    <footer>
      <nav class="wrapper">
        <a href="http://creativecommons.org/licenses/by-nd/4.0/deed.es" class="cc" title="Atribución-SinDerivar 4.0 Internacional" target="_blank"><img src="/images/creative_commons.svg"></a>
        <a href="/">Inicio</a>
        <a href="/#acerca-de">Acerca</a>
        <a href="http://twitter.com/constitucion_al" target="_blank" title="Seguinos en Twitter" class="twitter">Twitter</a>
        <a href="https://github.com/fmaclen/constitucion.al" target="_blank" title="Repositorio en GitHub" class="github">GitHub</a>
        <a href="https://dribbble.com" target="_blank" title="Proyecto en Dribbble" class="dribbble">Dribbble</a>
        <a href="/cdn-cgi/l/email-protection#2f425a4c4740485a5c5b406f4c40415c5b465b5a4c464041014e43" title="Contactate con nosotros">Escribinos</a>
        <p><strong>En línea desde Diciembre 2014.</strong> Última actualización: Enero 2017.</p>
      </nav>
    </footer>
  </body>
</html>
