<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title><%= @title + ' - ' %>Constitucion.al</title>
    <meta name"keywords" content="<%= @keywords %>">
    <meta name"description" content="<%= @description %>">

    <link rel="stylesheet" href="/css.css">
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic,300italic,300,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-2.1.1.min.js"></script>
  </head>

  <body class="constitucion <%= @body_class %>">
    <%= yield %>
  </body>
</html>